# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.coverage
.pytest_cache/

# IDE / editor settings
.vscode/
.idea/
